* {
  box-sizing: border-box; /*для правильного отображения контента*/
}
body {
  background-color: #621402; /*Цвет для всего тела*/
  font-family: "Roboto", sans-serif; /*прописываем шрифт*/
  color: #fff;
}
.container {
  max-width: 1170px; /* мах ширина контейнера для меню */
  margin: auto; /* Контейнер посередине*/
}
.header {
  /* min-height: 100vh; /*минимальная высота один экран*/
  padding-bottom: 60px; /*отступ снизу*/
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    /*градиент из фигмы*/ url(../img/bg.jpg) no-repeat center top / cover; /*Фоновая картинка.не повторяется.по центру.
  к верхнему краю.на всю ширину*/
}
.m-menu {
  display: none; /*не отображать кнопку меню*/
}

.navbar /*Навигационная панель*/ {
  display: flex; /*выравнивание в одну строчку шапки*/
  align-items: center; /*Выравнивание по центру*/
  padding-top: 30px; /*Отступ сверху*/
  padding-bottom: 30px; /*отступ снизу*/
}
.menu {
  list-style-type: none; /*Сброс точек в списке*/
  display: flex; /*список-меню выставляется вряд*/
  margin: 0; /*Отключение отступов*/
  padding-left: 57px; /*отступ меню от лого*/
}
.menu-item {
  margin-right: 25px; /*растояние между пунктами меню*/
}
.menu-link {
  color: white; /*Ссылки на меню белым шрифтом*/
  text-decoration: none; /*Отключение подчеркивания ссылок*/
}
.user {
  margin-left: auto; /*поле улетело влево*/
  color: #fff; /*Текст белым цветом*/
  /*текст относительно аватарки били на одной линии*/
  display: flex; /*выравнивание в одну строчку шапки*/
  align-items: center; /*Выравнивание по центру*/
}
.avatar {
  width: 33px;
  height: 33px; /*ширина и высота*/
  border-radius: 50%; /*скругление*/
  margin-left: 11px; /*отодвинуть аватарку от текста*/
}
.film {
  margin-top: 60px; /*отодвинуть описание фильма от навигации */
  color: #fff;
}
.film-title-small {
  opacity: 0.5; /*задание прозрачности текста (из фигмы)*/
  font-size: 24px;
  line-height: 150%; /*Размер шрифта и высота строки*/
}
.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-discription {
  font-size: 16px;
  line-height: 150%;
  max-width: 560px; /*мах ширина блока под текст*/
}
.film {
  display: flex;
  align-items: center; /*Выравненивание блока фильм по центру*/
}
.film-trailer {
  margin: auto;
}
.film-details {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center; /*Сделать блок время гибким и выровнить картинку и текст по центру*/
}
.time-icon {
  margin-right: 14px; /*отступ текста от иконки вправо*/
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.rating-icon {
  margin-right: 14px;
}
.rating-current {
  font-size: 24px;
  line-height: 150%;
}
.session {
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px; /*отступы для блока сеанс*/
  border-top: 1px solid rgba(255, 255, 255, 0.5); /*линия сверху.сплошная.белая-прозрач*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); /*линия снизу.сплошная.белая-прозрач*/
  display: flex; /*элементы в ряд*/
  justify-content: space-between; /*раскидаем по краям*/
  align-items: flex-start; /*выравнивание по верхнему краю*/
}
.session-label {
  display: block; /*создание блочного элемента*/
  margin-bottom: 20px; /*растояние вниз*/
}
.session-date-block {
  display: flex; /*элементы в ряд*/
}
.session-date-item {
  cursor: pointer; /*смена курсора на пальчик*/
  display: flex;
  flex-direction: column; /*говорим что они должны располагаться по вертикали*/
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center; /*Выравнивание по центру*/
  width: 90px;
  height: 90px; /*величина плиток*/
  align-items: center;
  justify-content: center;
  margin-right: 15px; /*растояние между плитками*/
  transition: background-color 0.2s; /*плавность изменения цвета при наведении*/
}
/*Параметры надписей в блоках*/
.session-month {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-week {
  font-size: 19px;
  line-height: 22px;
}
/*при наведении меняет цвет (hover) */
.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}
/*Оформление выпадающего списка*/
.select {
  background-color: rgba(255, 255, 255, 0.15); /*фоновый цвет*/
  border: 1px solid rgba(255, 255, 255, 0.5); /*границы*/
  border-radius: 5px; /*скругления*/
  color: rgb(12, 12, 12);
  padding: 18px; /*отступ сверху и снизу*/
  cursor: pointer; /*курсор на пальчик*/
  margin: 15px;
}
.select-cinema {
  width: 470px; /*растянули блок списка кинотеатра*/
}
/*стили для блока мест*/
.scheme {
  margin-bottom: 20px; /*отступ для блока*/
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px; /*фон и скругления подложки под места*/
  /*overflow-x: auto; /*если переполнение по оси Х, то схема прокручивается по горизонтали. только схема*/
}
.scheme-svg/*удалили ширину и высоту. и добавляем правилою что схема уменьшается с величиной экрана*/ {
  max-width: 1170px;
}

.scheme path:not(.light) /*для всех кроме экрана*/ {
  fill: rgba(255, 255, 255, 0.2); /*заливка для кресел*/
}
.scheme path:not(.light):hover /*Что делать при наведении на этот блок*/ {
  fill: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.scheme path.booked,
/*чтобы не светилась когда занята*/
.scheme path.booked:hover {
  /*занятые места*/
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.scheme path.active,
/*чтобы не светилась когда занята*/
.scheme path.active:hover {
  /*занятые места*/
  fill: #fe8e05;
}
.legend {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5); /*полоска после мест*/
  max-width: 1024px; /*растояние до легенды*/
  width: 90%; /*ширина по умолчанию 90%*/
  margin: auto;
  padding-top: 22px;
  padding-bottom: 38px;
}
.legend-lebel {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5); /*прозрачность для текста */
}
.legend svg {
  margin-right: 15px;
}
.price {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; /*разбросить элементы по сторонам*/
}
.price-lebel {
  display: block; /*занимант 1 строчку а ценник сваливается вниз*/
  font-size: 18px;
  line-height: 21px;
}
.price-tag {
  font-size: 52px;
  line-height: 61px;
}
.button {
  display: block;
  background: #fe8e05;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  text-decoration: none;
}
/*подстройка под разные диагонали экрана*/
@media (max-width: 1200px) {
  /*ссылка что при изменении экрана контейнер */
  .container {
    max-width: 960px;
  }
  .select-cinema {
    width: 100%; /*для блока выбора кинотеатра*/
  }
}
@media (max-width: 992px) {
  /*ссылка что при изменении экрана контейнер */
  .container {
    max-width: 750px;
  }
  .session {
    flex-wrap: wrap; /*при заполнении элемент перескакивает на новую строчку*/
  }
  .session-date {
    flex-basis: 70%; /*блок занимает 70% место. чтобы список кинотеатров и дат перескакивал на новую строчку*/
    margin-bottom: 40px;
  }
  .session-time {
    order: 2; /*порядок следования блока при сужении экрана*/
  }
  .session-cinema {
    order: 3;
  }
  .menu-item {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 650px;
    width: 90%; /*чтобы по бокам были отступы*/
  }
  .menu {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 20px;
    margin-left: 40px;
    flex-direction: column;
    background-color: #621402;
    z-index: 9; /*перекрывает собой все*/
    border-radius: 10px;
    opacity: 0;
    visibility: hidden; /*скрыто*/
    transform: translateX(
      -100%
    ); /*Отодвинули меню вверх/ появляется слева меню*/
    transition: opacity 0.5s, transform 0.5s;
  }
  .menu-item:not(:last-child) {
    /*растояние между строчками кроме последнего*/
    margin-bottom: 10px;
  }
  .m-menu {
    /*кнопка меню*/
    display: block; /*включение на маленьком экране*/
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .film-discription {
    margin-right: 30px;
  }
  .film {
    flex-direction: column; /*чтобы кнопка плей перемещалась вниз*/
  }

  .film-trailer {
    margin-right: auto;
    margin-left: 0;
    margin-top: 40px;
  }
}
